<!DOCTYPE html>
<html>
  <head>
    <title><%= data.name %>的網站</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hi, this is <%= data.name %> speaking.</h1>
    <p>
      My Birthday is: <%= data.birthday %><br />
      And I'm <%= data.age %> years old now.
    </p>
    <p>Now I lived in: <%= data.address %>.</p>
    <p>Welcome to my <a href="<%= data.link %>">GitHub Page</a> !</p>
  </body>
</html>
